@media (max-width: 1281px) {
    .container {
        max-width: 1280px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .header {
        &__logo {
            max-width: 187px;
            max-height: 44px;

            &--info {
                font-size: 10px;
                line-height: 14px;
            }
        }
        &__select {
            font-size: 18px;
            line-height: 35px;
        }
        &__link {
            font-size: 18px;
            line-height: 35px;
        }
        &__tel {
            font-size: 18px;
            line-height: 35px;
        }
        &__auth {
            padding: 12px 32px;
            font-size: 18px;
        }
    }

    .hero {
        &__title {
            font-size: 46px;
            line-height: 65px;
        }
        &__content {
            grid-template-columns: 710px 1fr;
            grid-gap: 30px;
        }
        &__info {
            font-size: 20px;
            line-height: 160%;
        }
    }
}